 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Quicksand:wght@300;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Poppins:wght@600;700&display=swap');


* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'Quicksand', sans-serif;
}

/* Header */

 header{
 	width: 100%;
 	position: fixed;
 	background: #c5c5c5;
 	z-index: 1;
 	top: 0;
 	left: 0;
}

header .container {
 	position: relative;
 	width: 80%;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	margin: 0 auto;
 }

header .logo {
 	position: relative;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding: 15px 0; 
}

header .logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

header .logo a > img {
	width: 70px;
	height: 70px;
}

header .logo a > p {
	margin-left: 15px;
	font-family: 'Nanum Pen Script', sans-serif;
	font-size: 50px;
	font-weight: 700;
	color:#F0CB20;
	font-style: oblique; 
}

/* Navigation */

.navbar {
	position: absolute;
	top: 0;
	right: 0;
}

.navbar ul {
	position: relative;
	display: flex;
}

.navbar ul > li {
	list-style: none;
	margin-top: 35px;
	padding-left: 30px;

}

.navbar ul > li > a {
	text-decoration: none;
	font-family: 'Nanum Brush Script', sans-serif;
	font-size: 35px;
	color:#F31970;
	font-weight: 700;
}

.navbar ul > li > a:hover {
	color: #46BB99;
	cursor: pointer;
}

/* Section */

section {
	position: relative;
	background: #fff;
	margin-top: 100px;
}

section .sec {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

section .sec > .text-content > h1 {
	color: #B323DD;
	font-family: 'Nanum Brush Script', sans-serif;
	font-size: 50px;
	font-weight: 700;
	padding: 30px;
	padding-left: 0;
}

section .sec > .text-content > p {
	color: #8D8A8A;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
	font-weight: 400;
}

section .sec > .text-content > p > span {
	font-size: 27px;
	font-family: 'Nanum Pen Script', sans-serif;
	font-weight: 400;
}

/*Image Gallery*/

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
}

.swiper-container {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 200px;
   
}

.swiper-slide {
   background-position: center;
   background-size: cover;
   width: 300px;
   height: 300px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #fff6);
}

/*Social-media*/

.social-media {
	position: absolute;
	right: 0;
	bottom: 12%;
	display:	flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 15px;

}

.social-media i {
	color: #459BE4;
	font-size: 18px;
	padding: 15px;
	margin-top: 10px; 
	border: 2px solid #459BE4;
	border-radius: 50%; 
}

.social-media i:hover {
 	color: #fff;
 	background: #459BE4;
 	border: 2px solid #fff;
 	cursor: pointer;
}


.social-media i:nth-child(2) {
	color: #960606;
	border: 2px solid #960606;
}

.social-media i:nth-child(2):hover {
	color: #fff;
	background-color: #960606; 
}

.social-media i:nth-child(3) {
	color: #1354D7;
	border: 2px solid #1354D7;
}

.social-media i:nth-child(3):hover {
	color: #fff;
	background-color: #1354D7; 
}

.social-media i:nth-child(4) {
	color: #2171DF;
	border: 2px solid #2171DF;
}

.social-media i:nth-child(4):hover {
	color: #fff;
	background-color:  #2171DF;
}

.social-media i:nth-child(5) {
	color: #FB0404;
	border: 2px solid #FB0404;
}

.social-media i:nth-child(5):hover {
	color: #fff;
	background-color: #FB0404;
}

/* Footer */

.footer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c5c5c5;
	margin-top: 10px;
	margin-bottom: 2px;
}

.footer p {
	color: #fff;
	font-size: 35px;
	font-family: 'Nanum Pen Script', sans-serif;
	padding: 10px;
	font-weight: 700;
}

.footer p > span {
	color: #1BAD0C;
	font-size: 35px;
	font-family: 'Nanum Pen Script', sans-serif;
	text-align: center;
	
}

.footer .copy {
	color: #fff;
	font-size: 30px;
}